/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input, button, .form-control, .btn {
    border-radius: 0;
}

.nopadding {
    padding: 0;
}
