/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 40px;
    font-family: "open-sans", "open sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.btn, input, .form-control {
    border-radius: 0;
}

.top10 {
    margin-top: 10px;
}

.top30 {
    margin-top: 30px;
}

.top7 {
    margin-top: 7px;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.top30 {
    margin-top: 30px;
}

.top15 {
    margin-top: 15px;
}

.feature h3 {
    font-weight: lighter;
    font-size: 28px;
    margin: 0;
}

.nopadding {
    padding: 0;
}

header h1 {
    margin: 0;
}

header h1 a,
header h1 a:hover {
    font-family: "lobster";
    font-size: 60px;
    text-decoration: none;
    color: #fff;
}

header {
    margin: 0 0 10px 0;
    background: #242f53;
    color: #fff;
}

header .container {

    padding: 40px 0 15px 0;
    position: relative;
}

.form-group .text-left {
    text-align: left;
}

h2, h3 {
    font-weight: bold;
    font-size: 18px;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

@media (max-width: 992px) {
    header .container {
        padding: 40px 0 30px 0;
    }

    .nav {
        padding: 0 0 0 15px;
    }

    .nav > li > a {
        padding: 5px;
    }

    header .container {
        padding-bottom: 5px;
    }

    .navigation-right {
        right: auto;
        position: static;
        left: 0;
    }

    footer {
        position: static;
        height: auto;
    }

    footer a {
        text-align: center;
        padding: 2px;
    }

    body {
        margin-bottom: 0;
    }

}

@media (max-width: 768px) {
    header h1 a,
    header h1 a:hover {
        font-size: 40px;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 40px;
    font-family: "open-sans", "open sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.btn, input, .form-control {
    border-radius: 0;
}

.top10 {
    margin-top: 10px;
}

.top30 {
    margin-top: 30px;
}

.top7 {
    margin-top: 7px;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.top30 {
    margin-top: 30px;
}

.top15 {
    margin-top: 15px;
}

.navbar-inverse {
    background: #000000;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 30px;
}

.navbar-inverse .navbar-brand, .brand {

    font-family: "lobster";
}

.navbar-right li a {
    font-style: normal;
    font-weight: 600;
}

.jumbotron {
    background: #da3b3a;
    color: #fff;
}

.jumbotron a {
    color: #fff;
}

.features {
    color: #fff;
    background: #f4ba4d;
    padding-bottom: 30px;
}

.features h3 {
    margin: 5px 0 0 0;
}

.features a,
.features a:hover,
.features a:active,
.features a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

footer.top {
    background: #4faac9;
    color: #FFF;
}

footer.top a, footer.bottom a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

footer.bottom {
    background: #333333;
    color: #FFF;
}

.btn {
    -webkit-transition: 0.3s background, 0.3s border;
    -moz-transition: 0.3s background, 0.3s border;
    -ms-transition: 0.3s background, 0.3s border;
    -o-transition: 0.3s background, 0.3s border;
    transition: 0.3s background, 0.3s border;
}

.btn-primary {
    background: #f43b3a;
    border: 1px solid #f43b3a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #b13938;
    border: 1px solid #b13938;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal;
    border-radius: 0;
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px
}

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #da3b3a;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #da3b3a
}

.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #da3b3a;
    background-color: transparent;
    border-left: 2px solid #da3b3a
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px
}

.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px
}

.back-to-top {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999
}

.back-to-top:hover {
    text-decoration: none;
    color: #da3b3a
}

.affix {
    position: fixed;
    top: 53px;
}

.blog-post-title {
    font-weight: 600;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post {
    margin-bottom: 60px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

pre {
    border-radius: 0;
    padding: 0;
    border: none;
}

.blog-post-title-small {
    margin: 0;
    font-weight: 600;
    color: #000;
}

.blog-post-title-small:hover {
    text-decoration: none;
}

.features h2 {
    font-size: 29px;
}