{% extends 'index.twig' %}

{% block content %}
    
<div class="col-sm-offset-2 col-sm-8">
    <a href="{{ offset }}/journal/new">Create another journal</a><br>
    {% for journal in journals %}
        <div class="col-md-12">
            <h3><a href="/journal/{{ journal.id }}">{{ journal.title }}</a></h3>
            <p>{{ journal.content | nl2br }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
