{% extends 'index.twig' %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12 "><a class="btn btn-primary" href="{{ offset }}/journal/new"><i
                            class="fa fa-pencil-square-o"></i> Create another journal</a><br></div>
            {% for journal in journals %}
                <div class="col-md-4 col-sm-6 clearfix">
                    <h3><a href="/journal/{{ journal.id }}">{{ journal.title }}</a></h3>

                    <p>{{ journal.content | nl2br }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block header %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>List Journal</h1>
        </div>
    </div>

{% endblock %}